<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueApp</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="./main.css">
</head>
<body>
    <div id="app">
        <a :href="github_url" style="font-size: 2rem;">My vue App</a>
        <div v-if="showBooks">
            <div v-for="book in books">
                <ul>
                    <li :class="{fav:book.isFav }" @click="book.isFav = !book.isFav" ><img :src="book.img" :alt="book.title"/> Title: {{book.title}} Author: {{book.author}} Age: {{book.age}}</li> <br>
                </ul>
            </div>   
        <button type="button" @click="increamentAge">+</button> 
        <button type="button" @click="decreamentAge">-</button>
        <button type="button" @click="changeTitle">Change title</button>
    </div> <br>
        <button type="button" @click="showHideBooks" >
            <span v-if="showBooks">Click to Hide Books </span>
            <span v-if="!showBooks"> Click to Show Books</span>
        </button>
        
        <h1 v-show="!showBooks"> Books are hidden from viewing</h1>

        <br><br>
        <div class="box" @mouseover="handleEvent">Mouse Over</div>
        <div class="box" @mouseleave="handleEvent">Mouse Leave</div>
        <div class="box" @dblclick="handleEvent">Double click</div>

    </div>

    <script src="./main.js"></script>
    
</body>
</html>