.box{
    background-color: grey;
    color: white;
    font-weight: bold;
    width: 40%;
    padding: 1rem;
    margin: 1rem;
    display: inline-block;
    text-align: center;
}

.fav {
    background-color: red;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    display: inline-block;
    text-align: center;
}